body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.profile{
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.row{
    display: flex;
    flex-direction: row;
}

.name{
    margin-left: 50px;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

ul{
    list-style: none;
}

.video-folder{
    width: 800px;
    margin: auto 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.video-folder li{
    flex: 1 1 600px;
    max-width: 600px;
}